p {
  line-height: 1.6;
  font-size: 16px;
  color: #555;
}

a {
  color: #5caed6;
}

.content h2,
.content h3,
.content h4,
.content h5 {
  color: #555;
  font-weight: normal;
}

h2 {
  font-size: 22.5px;
}

h1 {
  font-size: 28px;
  margin-bottom: 16px;
}

h2, h1 {
  color: rgb(102, 102, 102);
  font-weight: normal;
}

.content h2, .content h3, .content h4, .content h5 {
  margin-top: 0.5em;
}

.font-smaller90 {
    font-size: 90%;
}

.font-smaller80 {
    font-size: 80%;
}

.container.main {
  border-top: 1px solid rbg(212, 212, 212);
  min-height: 300px;
}

.panel-heading {
	padding: 4px;
}

.tablecontainer table td, .tablecontainer table th {
	padding: 2px;
}

.tablecontainer .btn, .switches .btn {
	padding: 2px 5px;
}

.tablecontainer tr.team-unset {
	background-color: white;
	font-weight: normal;
}

.tablecontainer tr.team-set, .testClass {
	background-color: #ccc;
	font-weight: bold;
}

.tablecontainer tr.team-win {
    background-color: #ff9900;
    font-weight: normal;
}

.tablecontainer tr.team-lost {
    background-color: #0066ff;
    font-weight: normal;
}

.tablecontainer tr.team-deuce {
    background-color: #ff66cc;
    font-weight: normal;
}

.table-hover tbody tr:hover {
    background-color: #ff9900;
}

.clicked {
  background-color: brown;
  font-weight: bold;
}

.not-clicked {
  background-color: blue;
  font-weight: normal;
}

.footer {
  text-align: center;
  border-top: 1px solid rgb(212, 212, 212);
  padding: 45px 0 15px;
  background: #fff;
  margin-top: 40px;
}

.footer a {
  margin-left: 3px;
  margin-right: 3px;
}

.footer a:hover {
  text-decoration: none;
}

.footer img {
  border-radius: 3px;
}

.footer p {
  color: #555;
  text-align: center;
  font-size: 14px;
}
