p {
    line-height: 1.6;
    font-size: 16px;
    color: #555;
}

a {
    color: #5caed6;
}

.content h2,
.content h3,
.content h4,
.content h5 {
    color: #555;
    font-weight: normal;
}

h2 {
    font-size: 22.5px;
}

h1 {
    font-size: 28px;
    margin-bottom: 16px;
}

h2, h1 {
    color: rgb(102, 102, 102);
    font-weight: normal;
}

.content h2, .content h3, .content h4, .content h5 {
    margin-top: 0.5em;
}

.font-smaller90 {
    font-size: 90%;
}

.font-smaller80 {
    font-size: 80%;
}

.container.main {
    border-top: 1px solid rgb(212, 212, 212);
    min-height: 300px;
}

.panel-heading {
	padding: 4px;
}

.tablecontainer table td, .tablecontainer table th {
	padding: 2px;
}

.tablecontainer .btn, .switches .btn {
	padding: 2px 5px;
}

.tablecontainer .team-unset {
	background-color: white;
	font-weight: normal;
}

.tablecontainer .team-set, .testClass {
	background-color: #ccc;
	font-weight: bold;
}

.table-hover tbody tr:hover {
    background-color: #ffc164;
}

.table-hover tbody tr.clicked:hover {
    background-color: #ffb039;
}

.table-hover tbody tr.clicked:active {
    background-color: #ff9999;
}

.table-hover tbody tr.clicked:focus {
    background-color: #ff0000;
}

.clicked {
    background-color: #ccc;
    font-weight: bold;
}

.not-clicked {
    background-color: white;
    font-weight: normal;
}

.match-unset:hover {
    background-color: #cecece;
}
.match-unset, .match-lost:active {
    background-color: white;
}

.match-win:hover {
    background-color: #ed9209;
}
.match-win, .match-unset:active {
    background-color: #ff9900;
}

.match-deuce:hover {
    background-color: #ff3bbf;
}
.match-deuce, .match-win:active {
    background-color: #ff66cc;
}

.match-lost:hover {
    background-color: #1372ff;
}
.match-lost, .match-deuce:active {
    background-color: #3c8afc;
}

.footer {
    text-align: center;
    border-top: 1px solid rgb(212, 212, 212);
    padding: 45px 0 15px;
    background: #fff;
    margin-top: 40px;
}

.footer a {
    margin-left: 3px;
    margin-right: 3px;
}

.footer a:hover {
    text-decoration: none;
}

.footer img {
    border-radius: 3px;
}

.footer p {
    color: #555;
    text-align: center;
    font-size: 14px;
}

.switch-container {
    margin: 0 20px;
    padding: 0;
    float: left;
}

.switch {
    position: relative;
    height: 26px;
    width: 120px;
    margin: 0px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 58px;
    line-height: 26px;
    font-size: 11px;
    color: #333;
    text-align: center;
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.45);
    cursor: pointer;
}
.switch-label:active {
    font-weight: bold;
}

.switch-label-off {
    padding-left: 2px;
}

.switch-label-on {
    padding-right: 2px;
}

.switch-input {
    display: none;
}

.switch-input:checked + .switch-label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -ms-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: color, text-shadow;
    -moz-transition-property: color, text-shadow;
    -ms-transition-property: color, text-shadow;
    -o-transition-property: color, text-shadow;
    transition-property: color, text-shadow;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 60px;
    /* Note: left: 50%; doesn't transition in WebKit */
}

.switch-selection {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    display: block;
    width: 58px;
    height: 22px;
    border-radius: 3px;
    background-color: #28a745;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #65bd63), color-stop(100%, #28a745));
    background-image: -webkit-linear-gradient(top, #65bd63, #28a745);
    background-image: -moz-linear-gradient(top, #65bd63, #28a745);
    background-image: -ms-linear-gradient(top, #65bd63, #28a745);
    background-image: -o-linear-gradient(top, #65bd63, #28a745);
    background-image: linear-gradient(top, #65bd63, #28a745);
    -webkit-box-shadow: inset 0 1px #ccc, 0 0 2px #555;
    box-shadow: inset 0 1px #ccc, 0 0 2px #555;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -ms-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

.switch-blue .switch-selection {
    background-color: #3aa2d0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4fc9ee), color-stop(100%, #3aa2d0));
    background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
    background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
    background-image: -ms-linear-gradient(top, #4fc9ee, #3aa2d0);
    background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
    background-image: linear-gradient(top, #4fc9ee, #3aa2d0);
}

