---
layout: default
title: Estimate Score
description: ToDo
---
<div ng-app="estimate">
	<div id="header">
		<h1>Estimate Score</h1>
	</div>
	<div id="test">
		<h2>Test</h2>
		<div class="span4">
			<div class="well">
				<h2 translate="TITLE">Hello</h2>
				<p translate="FOO">This is a paragraph</p>
			</div>
			<div ng-controller="Ctrl">
				<button class="btn" ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN" class="ng-scope">english</button>
				<button class="btn" ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE" class="ng-scope">german</button>
			</div>
		</div>
	</div>
	<div id="scoreTable">
		<div ng-controller="TableController as Tbl">
			<h3>Subheader</h3>
		</div>
	</div>
</div>
