<!-- main.html -->

<div id="test" class="row" ng-controller="Click">
	<div class="col-sm-6">
		<h4>MAIN:</h4>
		{{msg}}
	</div>
	<div class="col-sm-6">
		<ul>
			<li ng-repeat="x in tnames">{{ x }}</li>
		</ul>
	</div>
</div>

<div id="scoreTable" class="row" ng-controller="tableOrderCtrl as Tbl">
	<div class="col">
		<div>
			<h3>{{ Tbl.years }}</h3>
			<div class="panel panel-default">
				<div class="panel-heading"><span class="lead">{{ Tbl.category }}</span></div>
				<div class="tablecontainer">
					<table class="table table-condensed table-hover">
						<thead>
							<tr>
								<th>N</th>
								<th>Team</th>
								<th>GP</th><!-- Played -->
								<th>W</th><!-- Won -->
								<th>D</th><!-- Drawn -->
								<th>L</th><!-- Lost -->
								<th>F:A</th><!-- For --> <!-- Against -->
								<th>GD</th><!-- Goal Difference --> 
								<th>P</th><!-- Points -->
								<th>+/-</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in Tbl.tableData"> <!-- | orderBy:'p':true">-->
								<td>{{ $index+1 }}</td>
								<td>{{row.club}}</td>
								<td>{{row.gp}}</td>
								<td>{{row.w}}</td>
								<td>{{row.d}}</td>
								<td>{{row.l}}</td>
								<td>{{row.f}} : {{row.a}}</td>
								<td>{{row.gd}}</td>
								<td>{{row.p}}</td>
								<td>{{row.pm}}</td>
							</tr>

<!--							<tr ng-repeat="u in Tbl.scoreData" ng-class="{'team-set': $index == Tbl.selectedRow}">
								<td><span ng-bind="u.tid"></span></td>
								<td><span ng-bind="u.club"></span></td>
								<td><span ng-bind="u.z"></span></td>
								<td><span ng-bind="u.v"></span></td>
								<td><span ng-bind="u.r"></span></td>
								<td><span ng-bind="u.p"></span></td>
								<td>{{ u.sda }} : {{ u.sdo }}</td>
								<td>{{ u.sda - u.sdo }}</td>
								<td>{{ u.v * 3 -- u.r }}</td>
								<td>
									<button type="button" ng-click="Tbl.setHomeTeam(u.tid)" class="btn btn-success custom-width">Set</button>
									<button type="button" ng-click="Tbl.unsetHomeTeam(u.tid)" class="btn btn-danger custom-width">Unset</button>
								</td>
							</tr> -->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
