<!-- team_wu15.html -->

<div id="test" class="row" ng-controller="mainCtrl">
<div class="col">

<div id="scoreTable" class="row">
	<div class="col">
		<div>
			<h3>{{ jdYears }}</h3>
			<div class="panel panel-default">
				<div class="panel-heading"><span class="lead">{{ jdCategory }}</span></div>
				<div class="tablecontainer">
					<table class="table table-condensed table-hover">
						<thead>
							<tr>
								<th>N</th>
								<th>Team</th>
								<th>GP</th><!-- Played -->
								<th>W</th><!-- Won -->
								<th>D</th><!-- Drawn -->
								<th>L</th><!-- Lost -->
								<th>F:A</th><!-- For --> <!-- Against -->
								<th>GD</th><!-- Goal Difference -->
								<th>+/-</th>
								<th>P</th><!-- Points -->
								<th>Home team</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in scoreTable" ng-class="{'clicked': (clickTeam == '{{row.cs}}'), 'not-clicked': (clickTeam != '{{row.cs}}')}"> <!-- | orderBy:'p':true">-->
								<td>{{ $index+1 }} {{count}}</td>
								<td>{{row.club}}</td>
								<td>{{row.gp}}</td>
								<td>{{row.w}}</td>
								<td>{{row.d}}</td>
								<td>{{row.l}}</td>
								<td>{{row.f}} : {{row.a}}</td>
								<td>{{row.gd}}</td>
								<td>{{row.pm}}</td>
								<td>{{row.p}}</td>
								<td>
									<div class="onoffswitch">
										<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="tableonoffswitch{{row.tid}}"
											   ng-model="isToggled[row.tid]" ng-click="toggleTeam(row.tid)">
										<label class="onoffswitch-label" for="tableonoffswitch{{row.tid}}">
											<span class="onoffswitch-inner"></span>
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<b>Finished matches</b>&nbsp;
		<div class="switch-container">
			<div class="onoffswitch2">
				<input type="checkbox" name="onoffswitch2" class="onoffswitch2-checkbox" id="finishedMtch"
					   ng-init="showFinished = false" ng-click="showFinished = !showFinished" checked>
				<label class="onoffswitch2-label" for="finishedMtch">
					<span class="onoffswitch2-inner"></span>
					<span class="onoffswitch2-switch"></span>
				</label>
			</div>
		</div>
		<br /><br />
		<div class="stripRow mx-5">
			<div ng-repeat="m in finishedMatches"  class="row font-smaller80" ng-show="! showFinished">
				<div class="col text-right" ng-class="{'clicked': (clickTeam == '{{m.teamClass1}}'), 'not-clicked': (clickTeam != '{{m.teamClass1}}')}">{{m.team1}}</div>
				<div class="col-md-auto text-center">{{m.score1}} : {{m.score2}} </div>
				<div class="col text-left" ng-class="{'clicked': (clickTeam == '{{m.teamClass2}}'), 'not-clicked': (clickTeam != '{{m.teamClass2}}')}">{{m.team2}}</div>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
	</div>
</div>

</div>
</div>

<div class="row">
	<div class="col-md-auto text-white">
		{{ msg }}
	</div>
</div>

